// Size

.w300 {
    width: 300px;
}

.w60 {
    width: 60px;
}

.wfull {
    width: 100%;
}

.hfull {
    height: 100%;
}

// Flex

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gap {
    gap: 1rem
}

.text-center {
    text-align: center;
}

// Margin

.mt1 {
    margin-top: 1rem;
}

.mb2 {
    margin-bottom: 2rem;
}

// Utils

.error {
    color: var(--error-color);
    font-size: 0.8rem;
}